body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://picsum.photos/1000/1000);
    height:100vh;
    background-size: 100% 100%;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top:15px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration:none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.8s ease;
    text-size-adjust: 100% 100%;
}
ul li a:hover{
    background-color: white;
    color: blue;
}
ul li.active a{
    background-color: white;
    color: blue;
}
.title{
    font-size:25px;
    color: white;
    border: 2px solid transparent;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-70%,-50%);
}
.title:hover{
    color: black;
}